body{
    font-family: 'Nunito', sans-serif;
    margin:0%
}

#topSection span{
    color: rgb(22, 132, 175);
}

#topSection h1{
    font-size: 45px;
    font-weight: 900;
    border-left:4px solid rebeccapurple;
    padding: 8px;
}

p{
    font-weight: 600;
    font-size: 17px;
}

.topDiv{
    margin-top: 70px;
    width: 50%;
    align-content: space-between;
}

#topImage{
    margin-left: 30px;
}

.button{
    text-decoration: none;
    color: white;
    font-weight: 550;
    background-color: rebeccapurple;
    padding: 10px 13px;
    border-radius: 5px;
}

.sec{
    margin-bottom: 40px;
    display: flex;
    margin-left:150px;
    margin-right: 150px;
}

#Title2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

#Title2{
    color: rgb(48, 24, 73);
}

#Title2 span{
    color: rgb(22, 132, 175);
}

#section2 div{
    width: 33.33%;
    margin: 25px;
    border-radius: 25px;
    height: 30%;
    align-content: space-between;
}

.padd{
    padding-left: 20px;
    padding-right: 20px;
}

#section2 p{
    padding-bottom: 30px;
    text-align: justify;
}

.illustrations{
    padding-top: 15px;
}

#mission{
    background-color: rgb(238, 250, 255);
}

#vission{
    background-color: rgb(253, 226, 226);
}

#goals{
    background-color: rgb(255, 230, 206);
}

footer{
    text-align: center;
    padding: 15px;
    color: white;
    background-color: black;
}

footer span{
    color: rebeccapurple;
}

footer h1{
    font-weight: 900;
    font-family: 'Moon Dance', cursive;
    font-size: 40px;
}

footer p{
    font-weight: 100;
}

#section3{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 45%;
}

#section3-image img{
    margin-left: 50px;
}

#section3 div{
    margin: 30px;
}

#section3 h1{
    font-size: 40px;
    font-weight: 900;
}

#section4 h1{
    font-size: 40px;
    font-weight: 900;
}

#section4 div{
    margin: 30px;
    width: 50%;
}

#section4{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 175px;
    background-position-y: 99%;
    background-position: right;
}

#section4-image{
    padding-left: 300px;
    padding-bottom: 295px;
}